.profile-container {
  border-bottom: 1px solid #a2adb8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
.profile-name {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: white;
  width: 25%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile-name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 0.2em;
}
.profile-logo {
  font-weight: 700;
  font-size: 1.2em;
  margin-left: -2.5em;
  color: white;
}
.profile-logo span {
  font-family: cursive;
  font-weight: 900;
  background: rgb(251, 251, 251);
  background: linear-gradient(
    150deg,
    rgba(251, 251, 251, 1) 44%,
    rgb(53, 185, 57) 50%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
