.coindescription-container {
  margin-top: 2em;
}
.coindescription-description {
  font-size: 0.95em;
  margin-top: 1em;
}
.coindescription-description p {
  color: #80899d;
  word-break: break-all;
}
.coindescription-description a {
  color: blue;
}

.description-section {
  margin-top: 3em;
}
.description-section1 {
  margin: 3em 0;
}
.description-link h3 {
  margin-left: 0.5em;
  font-size: 1em;
}
.description-section__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0.5em;
  border: 1px solid #f2f5f8;
  margin: 1em 0;
  border-radius: 10px;
}
.description-section__name {
  width: 40%;
  font-size: 1em;
  font-weight: 600;
  color: #80899d;
}
.description-section__link {
  width: 60%;
  text-align: right;
  word-break: break-all;
}
.description-section__link a {
  color: blue;
}
