.filter-container {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.filter1 {
  display: flex;
}
.price-in {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0.5em 1.3em;
  margin: 0 0.5em;
  border-radius: 15px;
  font-size: 0.9em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-in:active,
.price-in:hover {
  background-color: transparent;
}
