.news-card{
    border: 1px solid black;
    margin: 1em 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #cccccc3f;
    padding: 0 1em;
    border-radius: 7px;
}
.news-card-image{
    height: 5em;
    width: 8em;
    margin-right: 1em;
}
.news-card-image img{
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 5px;
    object-fit: cover;
}
.news-card__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    margin-top: -1.3em;
}