.coinheader-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coinheader-main {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.coinheader-name {
  margin-bottom: -1em;
  color: #57657c;
}
.CoinHeader_change {
  margin-top: -1em;
  display: flex;
  align-items: center;
}
.CoinHeader_change__icon {
  width: 12%;
}
.CoinHeader_change__changenumber {
  width: 80%;
  font-weight: 600;
  color: #57657c;
}
.coinheader-change {
  width: 20%;
  font-weight: 700;
  padding: 0.4em;
  text-align: center;
}
.textgreen {
  color: #14c784;
}
.textred {
  color: #ff163a;
}
