.navbar2 {
  height: 5vh;
  display: flex;
  align-items: center;
  padding: 0 1em;
}
.navbar2 h3 {
  text-align: center;
  width: 90%;
  margin-right: 0.5em;
}
.navbar2-icon {
  margin-top: 5px;
  width: 7%;
}
