.stat-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-top: 0.5em;
  font-size: 0.9em;
}
.stat2 {
  margin-right: 2em;
}
.stat-info p {
  margin-top: -1.5em;
  font-size: 0.8em;
  color: #59657c;
  font-weight: 600;
}
