.footer-container {
  position: fixed;
  z-index: 1;
  background-color: white;
  bottom: 2em;
  width: 80%;
  margin: 0 10%;
  max-width: 460px;
  border: 1px solid #a2adb8;
  border-radius: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1em;
  padding: 0.5em 1.5em;
}

.footer-scroll {
  display: none;
}

.footer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  font-weight: 500;
  color: #a2adb8;
}
.footer1:active,
.footer1:focus {
  color: #1257dd;
}
.footer-news {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
  width: 65px;
  height: 65px;
  background-color: #1257dd;
}
.footer-news p {
  color: white;
  margin-top: -0.1em;
}
