.coin-container {
  border: 1px solid black;
  margin-top: 1em;
  height: 65vh;
  padding: 1em 0;
  font-size: 0.9em;
}
.coin-card {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1em 0.3em;
}

.coin-price,
.coin-change {
  margin-right: 1.5em;
}
.coin-change {
  margin-right: 1.8em;
}
.coin-holding {
  margin-right: 0.3em;
}
.coin-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.3em;
}
.coin-logo img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 0.5em;
}
.coin-name {
  display: flex;
  flex-direction: column;
}
.market-cap {
  font-weight: 700;
  font-size: 0.7em;
}
