.coin-card {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1em 0.3em;
  margin: 1em 2%;
  font-size: 0.9em;
  color: #000;
  font-weight: 600;
  border-top: 1px solid #f2f5f8;
  border-bottom: 1px solid #f2f5f8;
  text-align: left;
}
.coin-number {
  width: 5%;
}
.coin-logo {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: -0.3em;
  width: 25%;
  font-size: 0.95em;
  margin-left: 1em;
}
.coin-logo img {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.5em;
}
.coin-name {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 700;
  text-align: left;
}
.market-cap {
  font-size: 0.95em;
  color: #59657c;
  font-weight: 700;
}
.coin-price {
  width: 20%;
  margin-right: 2em;
  margin-top: 0.2em;
  text-align: right;
}

.coin-change {
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-right: 3em;
}
.coin-holding {
  width: 15%;
  text-align: right;
  font-size: 0.95em;
  color: #59657c;
  font-weight: 700;
}
